@import "tailwindcss";
@import "@heroui/styles";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Barlow', sans-serif;
}

@import "tailwindcss";

@import "tailwindcss";

:root {
  --verdi: #C2DB65;
  --verdi-hover: #b2c95e;
  --marelo: #F2C744;
  --marelo-hover: #475569;

  --success: #16a34a;
  --warning: #f59e0b;
  --danger: #dc2626;

  --color-background: #F2F2F2;
  --color-surface: #ffffff;

  --texto: #262626;
  --texto-sec: #727262;
  --borda: #d4d6ce;
}

@theme {
  --color-verdi: var(--verdi);
  --color-verdi-hover: var(--verdi-hover);

  --color-marelo: var(--marelo);
  --color-marelo-hover: var(--marelo-hover);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-danger: var(--danger);

  --color-background: var(--color-background);
  --color-surface: var(--color-surface);

  --color-texto: var(--texto);
  --color-texto-sec: var(--texto-sec);
  --color-borda: var(--borda);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes modalEnter {
  from {
    opacity: 0;
    transform: scale(0.94) translateY(8px);
  }

  to {
    opacity: 1;
    transform: scale(1) translateY(0);
  }
}

@keyframes slow-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-slow-spin {
  animation: slow-spin 30s linear infinite;
}